header{
  background: #FF8C00;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

h1{
  font-family: "Arial";
  color: aliceblue;
}

i{
  color: white;
  font-size: 50px;
  margin-right: 10px;
}

