.user-display {
  width: 500px;
  height: 300px;
  background-color: #8a1aef;
  border: 1px solid #a870ea;
  border-radius: 10px;
  display: flex; /* Flexbox para alinhamento */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  color: #f8f8f8;
  font-size: 1.2em;
  text-align: center;
}
